#facebook{
    font-size: 70px;
    color: white;
}

#instagram {
    font-size: 70px;
    color: white;
}

#youtube {
    font-size: 70px;
    color: white;
}

.imagen1{
    height: 485px;
}